<div class="container main-content">
  <div class="row">
  	<div class="col-md-12">
  		<h1>{{ message.reqStatus }} <small>{{message.kindWords}}</small>
    </div>
  </div>
  <div class="row no-border">
  	<div class="col-md-12">
  		<h1>Request Information</h1>
  		<ul>
  			<li>First Name: {{ntsReq.firstName}}</li>
  			<li>Last Name: {{ntsReq.lastName}}</li>
  			<li>Email: {{ntsReq.email}}</li>
  			<li>Phone Number: {{ntsReq.phoneNumber}}</li>
  			<li>Boat Type: {{ntsReq.boatType}}</li>
  			<li>Boat Name: {{ntsReq.boatName}}</li>
  			<li>Boat Location: {{ntsReq.boatLoc}}</li>
  			<li>Job Description: {{ntsReq.jobDesc}}</li>
  		</ul>
    </div>
  </div>
 </div>