body {
  padding-top: 50px;
}

/* Info Row Styles */
#info-row, #info-row h3 {
	padding: 8px 0;
	text-align: center;
}

#info-row h3 {
	margin: 4px 0 0 0;
}

/* Carousel Styles */
.carousel-caption h3 {
	padding: 10px;
	background-color: rgba(94,132,169, 0.9);
	border-radius: 10px;
}